<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head.html :: head"> </head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">mywebsite.com</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Spring Boot Web MVC basic Example</h1>
        <p>
            This is the message variable received from the controller: <span th:text="${message}"></span>
        </p>
    </div>

    <a href="/">back to home page</a>.


</main>

</body>
</html>
</body>
</html>