<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSimpleApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="SpringBootSimple" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="hac.springsimple.SpringSimpleApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>